
<div class= "container">


<table class="table table-striped">
    <tr>
        <th>plan</th>
        <th>client</th>
        <th>payment_method</th>
        <th>agreement_id</th>
    </tr>
  <% @client_subscriptions.each do |subscription| %>
    <tr>
      <td>
        <%= subscription.plan_id %>
      </td>
      <td>
        <%= subscription.client_id %>
      </td>
      <td>
        <%= subscription.payment_method %>
      </td>
      <td>
        <%= subscription.agreement_id %>
      </td>
      <td>
        <%= link_to 'Delete', subscription_path(subscription),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>
    <tr>
  <% end %>
</table>
</div>