<script>



</script>

<div class="container">
<%= simple_form_for( @subscription, html: { class: 'container-fluid well horizontal-form', client: @client })  do |f| %>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 ">
      <p class="lead text-center">Subscription Creation</p>
      <%= f.input :payment_method, as: :radio_buttons, collection: [['Paypal','paypal'],['Credit card','credit_card']] , wrapper: :vertical_radio_and_checkboxes,
       default: "paypal"  %> <br>
      <div id="credit_card_fields">
        <% if @client_data.credit_card_id %>
          <%= label_tag :card_type, "Pay with saved card  " %>
          <%= @subscription.card_type %>
          <%= @subscription.card_number %>
        <% else %>
          <%= f.input :card_type, collection: [['Visa', 'visa'], ['MasterCard', 'master'], ['Discover', 'discover'], ['American Express', 'american_express']], default: "discover" %>
            <%= radio_button_tag :pay_with, :card, true %>
            <%= label_tag :card_type do %>
              <%= image_tag "visa.png" %>
              <%= image_tag "mastercard.png" %>
              <%= image_tag "discover.png" %>
              <%= image_tag "american_express.png" %>
              <%= image_tag "jcb.png" %>
            <% end %>
          <%= f.input :card_number %>
          <%= f.input :card_verification %>
          <%= f.input :card_expires_on, as: :date, order: [:day, :month, :year] %>
        <% end %>
      </div>
      <%= f.hidden_field :plan_id %>
      <%= hidden_field_tag :client, @client %>
      <%= hidden_field_tag :plan, @plan %>
      <div class="text-center">
        <%= f.button :submit, "Subscribe Now", :method => :post, data: { "disable-with": "..." }, "data-toggle" => "tooltip", class: "btn btn-success" %>
      </div>
    </div>
  </div>
<% end %>
</div>
